#menu{
    background: #FAF3E0;
}

#menu h2{
    color: #2D4A3E;
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 50px;
}


.card{
    border: none;
    border-radius: 20px;
    overflow: hidden;
    background: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: .3s ease;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.card-body{
    padding: 25px;
}


.badge{
    padding: 8px 15px;
    border-radius: 30px;
    font-size: .8rem;
    letter-spacing: 1px;
}


.card-title{
    margin-top: 20px;
    color: #2D4A3E;
    font-size: 1.3rem;
    font-weight: 700;
}


.card-text{
    line-height: 1.6;
    margin-top: 10px;
}


.price{
    color: #C84B31;
    font-size: 1.2rem;
    margin-top: 20px;
}

@media(max-width:768px){

    #menu h2{
        font-size: 2rem;
    }

    .card-body{
        padding: 20px;
    }

}